force-app/main/default/flows/AL_Share_Record_To_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>sharingRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Access_with_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Error_Msg</name>
        <label>Assign Error Msg</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Record_Id</name>
        <label>Assign Enquiry Share Record Id</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>sharingRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Access_of_User_with_enquiry.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Acces</name>
        <label>Check Acces</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Share_Site_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_read_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Access_with_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_type_of_Access1</targetReference>
            </connector>
            <label>if read Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Access</name>
        <label>Check Current Access</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Current_Account_Sharing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Site_Visit</targetReference>
            </connector>
            <label>IF Has Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Account</name>
        <label>Check If Account</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Check_If_Site_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account_Sharing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountShare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Current_Account_Sharing</targetReference>
            </connector>
            <label>If Account Sharing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Enquiry</name>
        <label>Check If Enquiry</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnquirySharing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Access_of_User_with_enquiry</targetReference>
            </connector>
            <label>yes enquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Site_Visit</name>
        <label>Check If Site Visit</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_If_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShareSiteVisit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Access_with_User</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_of_Access</name>
        <label>Check Type of Access</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_read_acces</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Access_of_User_with_enquiry.AccessLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Read</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enquiry_Access</targetReference>
            </connector>
            <label>If read acces</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_type_of_Access1</name>
        <label>Check type of Access</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_read_only1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Access_with_User.AccessLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Read</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sharing</targetReference>
            </connector>
            <label>If read only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Acces</name>
        <label>Check Access</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Create_Enquiry_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_if_read_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Access_of_User_with_enquiry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Type_of_Access</targetReference>
            </connector>
            <label>if read Only</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AL Share Record To User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL Share Record To User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Share</name>
        <label>Create Account Share</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>sharingRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_Site_Visit</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Assign_Error_Msg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Enquiry_Share</name>
        <label>Create Enquiry Share</label>
        <locationX>842</locationX>
        <locationY>2138</locationY>
        <assignRecordIdToReference>sharingRecordId</assignRecordIdToReference>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Assign_Error_Msg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>Enquiry__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_Site_Visit</name>
        <label>Share Site Visit</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>sharingRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_Enquiry</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Assign_Error_Msg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>Site_Visit__Share</object>
    </recordCreates>
    <recordLookups>
        <name>get_Access_of_User_with_enquiry</name>
        <label>get Access of User with enquiry</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Acces</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Assign_Error_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Access_with_User</name>
        <label>get Access with User</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Acces</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Assign_Error_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site_Visit__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Current_Account_Sharing</name>
        <label>get Current Account Sharing</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Current_Access</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Assign_Error_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enquiry_Access</name>
        <label>Update Enquiry Access</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Assign_Error_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Access_of_User_with_enquiry.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <object>Enquiry__Share</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sharing</name>
        <label>Update Sharing</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Error_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Access_with_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <object>Site_Visit__Share</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountShare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnquirySharing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunitySharing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShareSiteVisit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sharingRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
