force-app/main/default/flows/Custom_EAC_Email_Matching_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates activity and email message entity records from temporary email records and associates them with specified account, contact, lead, opportunity, and user records.</description>
        <name>AssociateRecordsToActivity</name>
        <label>Create Email Activity with Associations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>associateRecordsWithActivity</actionName>
        <actionType>associateRecordsWithActivity</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>GetContcLeadsFromEmailAddr.contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leads</name>
            <value>
                <elementReference>GetContcLeadsFromEmailAddr.leads</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>users</name>
            <value>
                <elementReference>GetUsersFromEmailAddresses.users</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>GetAcctOpptyFromEmailAddr.account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunity</name>
            <value>
                <elementReference>GetAcctOpptyFromEmailAddr.opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unmatchedEmailAddresses</name>
            <value>
                <elementReference>GetAcctOpptyFromEmailAddr.unmatchedEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activityId</name>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>associateRecordsWithActivity</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that gets an account record associated with one of the contact records or unmatched email addresses in Outputs from Get Contacts and Leads from Email Addresses or with one of the user records in Outputs from Get Users from Email Addresses. Stores the output in Outputs from Get Account and Opportunity from Email Addresses.</description>
        <name>GetAcctOpptyFromEmailAddr</name>
        <label>Get Account and Opportunity from Email Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>getAcctOpptyFromEmailAddr</actionName>
        <actionType>getAcctOpptyFromEmailAddr</actionType>
        <connector>
            <targetReference>AssociateRecordsToActivity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>GetContcLeadsFromEmailAddr.contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>users</name>
            <value>
                <elementReference>GetUsersFromEmailAddresses.users</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unmatchedEmailAddresses</name>
            <value>
                <elementReference>GetContcLeadsFromEmailAddr.unmatchedEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activityDate</name>
            <value>
                <elementReference>activityDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hasPartnerAccounts</name>
            <value>
                <elementReference>GetContcLeadsFromEmailAddr.hasPartnerAccounts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountField</name>
            <value>
                <elementReference>GetContcLeadsFromEmailAddr.accountField</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comparisonOperator</name>
            <value>
                <elementReference>GetContcLeadsFromEmailAddr.comparisonOperator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>GetContcLeadsFromEmailAddr.value</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getAcctOpptyFromEmailAddr</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that matches unmatched email addresses in Outputs from Get Users from Email Addresses to contact and lead records related to the user records in Outputs from Get Users from Email Addresses. Stores the output in Outputs from Get Contacts and Leads from Email Addresses.</description>
        <name>GetContcLeadsFromEmailAddr</name>
        <label>Get Contacts and Leads from Email Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>getContcLeadsFromEmailAddr</actionName>
        <actionType>getContcLeadsFromEmailAddr</actionType>
        <connector>
            <targetReference>GetAcctOpptyFromEmailAddr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetUsersFromEmailAddresses.unmatchedEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>users</name>
            <value>
                <elementReference>GetUsersFromEmailAddresses.users</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getContcLeadsFromEmailAddr</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that gets user records with email addresses that match those specified in the To, From, and CC address fields of the email message of the triggering email. Stores the output in Outputs from Get Users from Email Addresses.</description>
        <name>GetUsersFromEmailAddresses</name>
        <label>Get Users from Email Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>getUsersFromEmailAddresses</actionName>
        <actionType>getUsersFromEmailAddresses</actionType>
        <connector>
            <targetReference>GetContcLeadsFromEmailAddr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <elementReference>fromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddressList</name>
            <value>
                <elementReference>toAddressList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddressList</name>
            <value>
                <elementReference>ccAddressList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getUsersFromEmailAddresses</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Custom_EAC_Email_Matching_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom_EAC_Email_Matching_Flow</label>
    <overriddenFlow>activity_object_matching__EmailMatch</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>ActivityObjectMatchingFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUsersFromEmailAddresses</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the date and time the activity occurred and is passed into the flow.</description>
        <name>activityDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the activity to associate with Salesforce records and is passed into the flow.</description>
        <name>activityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the comma-delimited email address list of recipients who were sent a carbon copy of the email message and is passed into the flow.</description>
        <name>ccAddressList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the email address that the email message was sent from and is passed into the flow.</description>
        <name>fromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the body of the email in HTML format and is passed into the flow.</description>
        <name>htmlBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the subject line of the email and is passed into the flow.</description>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the body of the email in plain text format and is passed into the flow.</description>
        <name>textBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the comma-delimited email address list of recipients who were sent the email message and is passed into the flow.</description>
        <name>toAddressList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
