force-app/main/default/flows/Custom_Notification_for_Assigned_To_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Notification</name>
        <label>send Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Due_Date_Time_based_Assigned_To_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>assignuser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleTemplete</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Due_Date_Time_based_User_Assignment</name>
        <label>Due Date/Time based User Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assignuser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Assigned_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Due_Date_Time_based_User_Send_the_Mail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Due_Date_Time_based_User_Send_the_Mail</name>
        <label>Due Date/Time based User Send the Mail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date_Time_based_Get_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_Notification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Custom Notification for Assigned To user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Notification for Assigned To user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Due_Date_Time_based_Assigned_To_Notification</name>
        <label>Due Date/Time based Assigned To Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Due_Date_Time_based_User_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_Assignment_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Due_Date_Time_based_Get_Owner_Id</name>
        <label>Due Date/Time based Get Owner Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Due_Date_Time_based_Assigned_To_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Due_Date_Time_based_Get_User</name>
        <label>Due Date/Time based Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Due_Date_Time_based_Get_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assigned_By__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Notification_for_Due_Date_Time</name>
            <connector>
                <targetReference>Due_Date_Time_based_Get_User</targetReference>
            </connector>
            <label>Notification for Due Date/Time</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Due_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.OwnerId} assigned the task to you&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DueDateTimeEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Assigned_to_Name__c},&lt;/p&gt;&lt;p&gt;{!Due_Date_Time_based_Get_Owner_Id.Name} has assigned a new task to you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Task Subject: Email&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Due_Date_Time_based_Get_Owner_Id.Name}  has been assigned a task that is going to start within 15 minutes.</text>
    </textTemplates>
    <textTemplates>
        <name>TitleTemplete</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Task Reminder : {!$Record.Subject} due at {!$Record.Due_Date_Time__c}</text>
    </textTemplates>
    <textTemplates>
        <name>user</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Assigned_By__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignedToUser</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignuser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
