force-app/main/default/flows/Drag_And_Drop_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Compare_Date_Time</name>
        <label>Compare Date Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CompareDateTimeValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Date_Change</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>newReminderValue</name>
            <value>
                <elementReference>$Record.ReminderDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newValue</name>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldReminderValue</name>
            <value>
                <elementReference>$Record__Prior.ReminderDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldValue</name>
            <value>
                <elementReference>$Record__Prior.StartDateTime__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CompareDateTimeValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Custom_Notification_to_User_who_is_Created</name>
        <label>Send Custom Notification to User who is Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notify_The_User_who_is_Created_the_FollowUp_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>adminUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>followUpOwnerNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>When a task or event is updated using the drag-and-drop feature, notifications should be sent to both the user who created it and the user it is assigned to.</description>
        <name>Notify_The_User</name>
        <label>Notify The User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Task has been Rescheduled!!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hello {!Get_AssignedTo_user_Record_Through_Contact.Name},&lt;/p&gt;&lt;p&gt;The following task has been rescheduled on the calendar:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Title:&lt;/strong&gt; {!$Record.Subject}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Modified By: &lt;/strong&gt;{!Get_Modified_User_Record.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Previous Date/Time:&lt;/strong&gt; {!$Record__Prior.StartDateTime__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;New Date/Time:&lt;/strong&gt; {!$Record.StartDateTime__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;You are receiving this notification because you are the assigner of this task.&lt;/p&gt;&lt;p&gt;Please review the updated schedule and contact your system admin, if you have any query regarding the changes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Best Regards&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;Allwarehouse Team.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>When a task or event is updated using the drag-and-drop feature, notifications should be sent to both the user who created it and the user it is assigned to.</description>
        <name>Notify_The_User_for_FollowUp</name>
        <label>Notify The User for FollowUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Task has been Rescheduled!!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hello {!Get_CreatedBy_Users_Information.Name},&lt;/p&gt;&lt;p&gt;The following task has been updated on the calendar:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Title:&lt;/strong&gt; {!$Record.Subject}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Modified By: &lt;/strong&gt;{!Get_Modified_User_Record.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Previous Date/Time:&lt;/strong&gt; {!$Record__Prior.ReminderDateTime}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;New Date/Time:&lt;/strong&gt; {!$Record.ReminderDateTime}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;You are receiving this notification because you are the assigner of this task.&lt;/p&gt;&lt;p&gt;Please review the updated schedule and contact your system admin, if you have any query regarding the changes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Best Regards&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;Allwarehouse Team.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>When a task or event is updated using the drag-and-drop feature, notifications should be sent to both the user who created it and the user it is assigned to.</description>
        <name>Notify_The_User_who_is_Created</name>
        <label>Notify The User who is Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Task Update Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hello Admin,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The task &quot;{!$Record.Subject}&quot; assigned to {!Get_AssignedTo_user_Record_Through_Contact.Name} has been rescheduled by {!Get_Modified_User_Record.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Updated Details:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Title:&lt;/strong&gt; {!$Record.Subject}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Modified By: &lt;/strong&gt;{!Get_Modified_User_Record.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Previous Date/Time:&lt;/strong&gt; {!$Record__Prior.StartDateTime__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;New Date/Time:&lt;/strong&gt; {!$Record.StartDateTime__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the changes.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>When a task or event is updated using the drag-and-drop feature, notifications should be sent to both the user who created it and the user it is assigned to.</description>
        <name>Notify_The_User_who_is_Created_the_FollowUp_Task</name>
        <label>Notify The User who is Created the FollowUp Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Task Update Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hello Admin,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The task &quot;{!$Record.Subject}&quot; assigned to {!createdBy} has been updated by {!Get_Modified_User_Record.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Updated Details:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Title:&lt;/strong&gt; {!$Record.Subject}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Modified By: &lt;/strong&gt;{!Get_Modified_User_Record.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Previous Date/Time:&lt;/strong&gt; {!$Record__Prior.ReminderDateTime}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;New Date/Time:&lt;/strong&gt; {!$Record.ReminderDateTime}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please review the changes.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_to_User_who_is_Created</name>
        <label>Send Custom Notification to User who is Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notify_The_User_who_is_Created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>adminUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ownerNotificationTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_to_Users</name>
        <label>Send Custom Notification to Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notify_The_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>asignedUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AssignUserTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_to_Users_for_Followup</name>
        <label>Send Custom Notification to Users for Followup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notify_The_User_for_FollowUp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Task_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>asignedUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AssignUserTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_User_Ids</name>
        <label>Collect User Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>asignedUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_AssignedTo_user_Record_Through_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedUserEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_AssignedTo_user_Record_Through_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adminUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_System_Admin_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adminUserEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_System_Admin_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Created_by_System_Admin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_User_Ids_for_Followup</name>
        <label>Collect User Ids for Followup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>asignedUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedUserEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adminUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_System_Admin_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adminUserEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_System_Admin_User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_FollowUp_Created_by_System_Admin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Date_Change</name>
        <label>Check Date Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Date_Changed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Compare_Date_Time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReminderDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_System_Admin_Profile</targetReference>
            </connector>
            <label>Is Date Changed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reminder_Set</name>
        <label>Check Reminder Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Collect_User_Ids_for_Followup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_ReminderSet_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsReminderSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_User_Ids</targetReference>
            </connector>
            <label>Is ReminderSet false?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_StartDateTime_Change</name>
        <label>Check StartDateTime Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_StartDateTime_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReminderDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Reminder_Set</targetReference>
            </connector>
            <label>Is StartDateTime Updated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Created_by_System_Admin</name>
        <label>If Created by System Admin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Custom_Notification_to_User_who_is_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Updated_By_System_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Custom_Notification_to_Users</targetReference>
            </connector>
            <label>Is Updated By System Admin?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_FollowUp_Created_by_System_Admin</name>
        <label>If FollowUp Created by System Admin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_Custom_Notification_to_User_who_is_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Followup_Updated_By_System_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CreatedBy_Users_Information.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Modified_User_Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Custom_Notification_to_Users_for_Followup</targetReference>
            </connector>
            <label>Is Followup Updated By System Admin?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Drag And Drop Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Drag And Drop Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AssignedTo_User_Record</name>
        <label>Get AssignedTo User Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssignedTo_user_Record_Through_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssignedTo_user_Record_Through_Contact</name>
        <label>Get AssignedTo user Record Through Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Modified_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssignedTo_User_Record.User__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CreatedBy_Users_Information</name>
        <label>Get CreatedBy Users Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssignedTo_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Modified_User_Record</name>
        <label>Get Modified User Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Notification_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Admin_Profile</name>
        <label>Get System Admin Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Admin_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Admin_User</name>
        <label>Get System Admin User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CreatedBy_Users_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_System_Admin_Profile.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Notification_Record</name>
        <label>Get Task Notification Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_StartDateTime_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TaskNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Compare_Date_Time</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>StartDateTime__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ReminderDateTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AssignUserTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your task &quot;{!$Record.Subject}&quot; has been rescheduled by {!Get_Modified_User_Record.Name}.  
For more information, please check your email.</text>
    </textTemplates>
    <textTemplates>
        <name>followUpOwnerNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The task &quot;{!$Record.Subject}&quot; assigned to {!Get_CreatedBy_Users_Information.Name} has been rescheduled by {!Get_Modified_User_Record.Name}. Please verify the changes.</text>
    </textTemplates>
    <textTemplates>
        <name>ownerNotificationTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The task &quot;{!$Record.Subject}&quot; assigned to {!Get_AssignedTo_user_Record_Through_Contact.Name} has been rescheduled by {!Get_Modified_User_Record.Name}.
Please verify the changes.</text>
    </textTemplates>
    <variables>
        <name>adminUserEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adminUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asignedUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignedUserEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orgIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>results</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
