force-app/main/default/flows/RT_Flow_to_Update_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Rollup_Fields_For_Landlord_Category</name>
        <label>Rollup Fields  For Landlord Category</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>RollupFields</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Landlord_Commission_Recieved_Amount__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filter</name>
            <value>
                <stringValue>Payment_Category__c  = &apos;Landlord Payment&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldApiName</name>
            <value>
                <stringValue>Booking__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectApiName</name>
            <value>
                <stringValue>Booking__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldApiName</name>
            <value>
                <stringValue>Transaction_Amount__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFunction</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupObjectApiName</name>
            <value>
                <stringValue>Transaction__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RollupFields</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Rollup_Fields_for_Tenant_Category</name>
        <label>Rollup Fields for Tenant Category</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>RollupFields</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Tenant_Commission_Recieved_Amount__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filter</name>
            <value>
                <stringValue>Payment_Category__c  = &apos;Tenant Payment&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldApiName</name>
            <value>
                <stringValue>Booking__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectApiName</name>
            <value>
                <stringValue>Booking__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldApiName</name>
            <value>
                <stringValue>Transaction_Amount__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFunction</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupObjectApiName</name>
            <value>
                <stringValue>Transaction__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RollupFields</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Payment_Category</name>
        <label>Check Payment Category</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Payment_Category_is_Landlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landlord Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rollup_Fields_For_Landlord_Category</targetReference>
            </connector>
            <label>If Payment Category is Landlord</label>
        </rules>
        <rules>
            <name>If_Payment_Category_is_Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenant Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rollup_Fields_for_Tenant_Category</targetReference>
            </connector>
            <label>If Payment Category is Tenant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT Flow to Update Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT Flow to Update Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Payment_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
