force-app/main/default/flows/RT_On_Site_Visit_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Site_Visit_Proposal</name>
        <label>Generate Site Visit Proposal</label>
        <locationX>94</locationX>
        <locationY>1331</locationY>
        <actionName>GenerateSiteVisitQuotePdf</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitBundleId</name>
            <value>
                <elementReference>$Record.Unit_Bundle__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateSiteVisitQuotePdf</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_LandLord</name>
        <label>Send Email To LandLord</label>
        <locationX>138</locationX>
        <locationY>947</locationY>
        <actionName>SendEmailtoLandLord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Unit_Bundle_And_Opportunity_Exists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>UnitBundleId</name>
            <value>
                <elementReference>$Record.Unit_Bundle__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VisitDateTime</name>
            <value>
                <elementReference>$Record.Visit_Date_Time__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailtoLandLord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_UnitId</name>
        <label>Assign UnitId</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UnitId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Unit.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Unit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Insert</name>
        <label>Check for Insert</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_If_Unit_Bundle_And_Opportunity_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ShortlistUnit</targetReference>
            </connector>
            <label>Is Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Unit_Bundle_And_Opportunity_Exists</name>
        <label>Check If Unit Bundle And Opportunity Exists</label>
        <locationX>226</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit_Bundle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Unit_Bundle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Unit_Bundle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Site_Visit_Proposal</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rescheduled</name>
        <label>Is Rescheduled</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Send_Email_To_LandLord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reschedule_by__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Unit_Bundle_And_Opportunity_Exists</targetReference>
            </connector>
            <label>Rescheduled</label>
        </rules>
    </decisions>
    <description>Changes made on the Apex Action null value to mail</description>
    <environments>Default</environments>
    <formulas>
        <name>newRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>RT On Site Visit Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT On Site Visit Creation</label>
    <loops>
        <name>loop_Unit</name>
        <label>loop Unit</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_ShortlistUnit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_UnitId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Rescheduled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ShortlistUnit</name>
        <label>Get ShortlistUnit</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shortlisted_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Insert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Bundle__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Site_Visit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerAccount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerMail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PointofContactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
