force-app/main/default/flows/SF_Adding_Multiple_Unit_for_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignUnitOptions</name>
        <label>assignUnitOptions</label>
        <locationX>206</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>UnitOptionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUnitOption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PropertyId</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_PropertyId</name>
        <label>Check PropertyId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>IfUnitOptionExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Property_Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProperyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PropertyId</targetReference>
            </connector>
            <label>Property Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>getUnitOptionCheck</name>
        <label>getUnitOptionCheck</label>
        <locationX>338</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_PropertyId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUnitOption</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUnitOption</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignUnitOptions</targetReference>
            </connector>
            <label>Outcome 1 of Decision 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfUnitOptionExist</name>
        <label>IfUnitOptionExist</label>
        <locationX>182</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Success_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnitOptionsList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Options</targetReference>
            </connector>
            <label>IfExist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SF Adding Multiple Unit for Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Adding Multiple Unit for Opportunity</label>
    <loops>
        <name>Loop_PropertyId</name>
        <label>Loop PropertyId</label>
        <locationX>118</locationX>
        <locationY>242</locationY>
        <collectionReference>ProperyId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_Unit_bundle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IfUnitOptionExist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success Message Screen</label>
        <locationX>314</locationX>
        <locationY>1034</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 255, 43);&quot;&gt;Units Created Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unit_Options</name>
        <label>Unit Options</label>
        <locationX>50</locationX>
        <locationY>1034</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnitOptions</name>
            <fieldText>&lt;p&gt;These all are the unit list which have been already added to the unit Options!!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!UnitOptionsList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_PropertyId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Adding_Unit_bundle</name>
        <label>Adding Unit bundle</label>
        <locationX>338</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>getUnitOptionCheck</targetReference>
        </connector>
        <flowName>SF_Add_Unit_Bundle_Opportunity</flowName>
        <inputAssignments>
            <name>IsMultiple</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>propertyId</name>
            <value>
                <elementReference>Loop_PropertyId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>getUnitOption</assignToReference>
            <name>unitOptionIdsOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>getUnitOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProperyId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitOptionsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
