force-app/main/default/flows/SF_Add_Unit_Bundle_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_And_Link_Unit</name>
        <label>Check And Link Unit</label>
        <locationX>1106</locationX>
        <locationY>1970</locationY>
        <actionName>CheckAndLinkUnit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Type_Selected_And_Property_Category</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bundleNo</name>
            <value>
                <elementReference>OpportunutyWrapper.unitBundleNo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunutyWrapper.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shortListUnitId</name>
            <value>
                <elementReference>shortListUnitId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>towerId</name>
            <value>
                <elementReference>Get_Property_details.Tower_Block__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitBundle</name>
            <value>
                <elementReference>UnitBundle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitType</name>
            <value>
                <elementReference>Get_Property_details.Type_of_Unit__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckAndLinkUnit</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_And_Update_Opportunity</name>
        <label>Convert And Update Opportunity</label>
        <locationX>842</locationX>
        <locationY>2642</locationY>
        <actionName>ConvertAndUpsertOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityWrap</name>
            <value>
                <elementReference>OpportuntyWrapperForUpdate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertAndUpsertOpportunity</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OppId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Shortlisted_Unit_Id</name>
        <label>Get Shortlisted Unit Id</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <actionName>GetShortlistedUnitId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getUnitOption</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitId</name>
            <value>
                <elementReference>propertyId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetShortlistedUnitId</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>shortListUnitId</assignToReference>
            <name>shortlistedUnitId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetUnitBundle</name>
        <label>GetUnitBundle</label>
        <locationX>1106</locationX>
        <locationY>1454</locationY>
        <actionName>GetUnitBundle</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_unit_Bundle_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunutyWrapper.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetUnitBundle</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>UnitBundleIds</assignToReference>
            <name>unitBundleIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getUnitOption</name>
        <label>getUnitOption</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <actionName>getUnitOption</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Unit_Option</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shortlistedUnitId</name>
            <value>
                <elementReference>shortListUnitId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getUnitOption</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>unitOptionId</assignToReference>
            <name>unitOptionId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Upsert_Record_With_Opportunity</name>
        <label>Upsert Record With Opportunity</label>
        <locationX>1238</locationX>
        <locationY>1214</locationY>
        <actionName>UpsertRecordWithOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetUnitBundle</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Shortlisted_Unit__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>ShortlistedRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpsertRecordWithOpportunity</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>shortListUnitId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Avaiability</name>
        <label>Assign Avaiability</label>
        <locationX>3086</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>IsAvailableVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Wrapper_For_Update</name>
        <label>Assign Opportunity Wrapper For Update</label>
        <locationX>842</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>OpportuntyWrapperForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunutyWrapper.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_And_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shortlisted_Unit_For_Creation</name>
        <label>Assign Shortlisted Unit For Creation</label>
        <locationX>1238</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ShortlistedRecord.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortlistedRecord.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>propertyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Record_With_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ShortlistUnitId</name>
        <label>Assign ShortlistUnitId</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>shortListUnitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Shortlist_Unit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUnitBundle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>unitOptionIdsOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Property_details.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Available_property</name>
        <label>Available property</label>
        <locationX>1931</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Avaiability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Property_details.Unit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shortlisted_Unit_Id</targetReference>
            </connector>
            <label>isAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Error</name>
        <label>Check Error</label>
        <locationX>990</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Property_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Occured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunutyWrapper</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowError</targetReference>
            </connector>
            <label>Yes Occured</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Error_Message</name>
        <label>Check Error Message</label>
        <locationX>1106</locationX>
        <locationY>3074</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Error</targetReference>
            </connector>
            <label>if Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Multiple</name>
        <label>Check If Multiple</label>
        <locationX>1106</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Check_And_Link_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMultiple</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Section_Screen</targetReference>
            </connector>
            <label>Is Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>1106</locationX>
        <locationY>2426</locationY>
        <defaultConnector>
            <targetReference>Check_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Site_Visit_or_Qualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunutyWrapper.stageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunutyWrapper.stageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Wrapper_For_Update</targetReference>
            </connector>
            <label>If Site Visit or Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shortlist_Unit</name>
        <label>Check Shortlist Unit</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_Shortlisted_Unit_For_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Shortlist_Unit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ShortlistUnitId</targetReference>
            </connector>
            <label>If Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Selected_And_Property_Category</name>
        <label>Check Type Selected And Property Category</label>
        <locationX>1106</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Existing_and_Unit_Category_Parking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userSelectionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Property_details.Unit_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Unit_Category_Parking</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Bundle</targetReference>
            </connector>
            <label>If Existing and Unit Category Parking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unit_Option</name>
        <label>Check Unit Option</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>get_Shortlist_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Unit_Option_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitOptionId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isMulCheck</targetReference>
            </connector>
            <label>If Unit Option Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMulCheck</name>
        <label>isMulCheck</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assignment_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifIsMult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMultiple</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUnitOptionRec</targetReference>
            </connector>
            <label>ifIsMult</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UnitBundleValues</name>
        <collectionReference>Get_unit_Bundle_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Unit_Bundle__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SF Add Unit Bundle Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Add Unit Bundle Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Property_details</name>
        <label>Get Property Details</label>
        <locationX>1931</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Available_property</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>propertyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Shortlist_Unit</name>
        <label>get Shortlist Unit</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Shortlist_Unit</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shortListUnitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shortlisted_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_unit_Bundle_Records</name>
        <label>Get unit Bundle Records</label>
        <locationX>1106</locationX>
        <locationY>1562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Multiple</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UnitBundleIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUnitOptionRec</name>
        <label>getUnitOptionRec</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Option_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitOptionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Unit_Bundle</name>
        <label>Update Unit Bundle</label>
        <locationX>842</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitBundle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Area__c</field>
            <value>
                <elementReference>totalArea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_UOM__c</field>
            <value>
                <elementReference>totalAreaUOM</elementReference>
            </value>
        </inputAssignments>
        <object>Unit_Bundle__c</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>3086</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errorscreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 19, 19); font-size: 16px;&quot;&gt;{!$Label.Error_Message_if_unit_status_is_not_available}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Section_Screen</name>
        <label>Section Screen</label>
        <locationX>974</locationX>
        <locationY>1778</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_And_Link_Unit</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(30, 147, 0);&quot;&gt;Unit Added Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>974</locationX>
        <locationY>3182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!ErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowError</name>
        <label>ShowError</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessages}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowError1</name>
        <label>ShowError</label>
        <locationX>1106</locationX>
        <locationY>2750</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowErrorMsg2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unit_Option_Screen</name>
        <label>Unit Option Screen</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmMessage</name>
            <fieldText>&lt;p&gt;⚠️ &lt;strong style=&quot;color: rgb(238, 134, 56);&quot;&gt;Oops! The property {!Get_Property_details.Name} is already added to {!getUnitOptionRec.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>864</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AL_Get_Opportunity_By_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>AL_Get_Opportunity_By_Id</name>
        <label>AL Get Opportunity By Id</label>
        <locationX>990</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Check_Error</targetReference>
        </connector>
        <flowName>AL_Get_Opportunity_By_Id</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorMessages</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunutyWrapper</assignToReference>
            <name>OpportunityWrapper</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>bookingChargeJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bookingLineItemJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IsAvailableVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsMultiple</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportuntyWrapperForUpdate</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunutyWrapper</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentPlanJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shortlistedList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shortlisted_Unit__c</objectType>
    </variables>
    <variables>
        <name>ShortlistedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shortlisted_Unit__c</objectType>
    </variables>
    <variables>
        <name>shortListUnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>totalArea</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalAreaUOM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalGST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalGstOther</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalOtherCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UnitBundle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit_Bundle__c</objectType>
    </variables>
    <variables>
        <name>UnitBundleIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitOptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitOptionIdsOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>userSelectionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Property_details.Unit_Category__c</elementReference>
        </value>
    </variables>
</Flow>
