force-app/main/default/flows/SF_Create_Booking_New_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_And_Update_Opportunity</name>
        <label>Convert And Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <actionName>ConvertAndUpsertOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityWrap</name>
            <value>
                <elementReference>OpportunityForUpdate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertAndUpsertOpportunity</nameSegment>
        <outputParameters>
            <assignToReference>OpportunituyId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Booking_Record</name>
        <label>Create Booking Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>UpsertRecordWithOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Booking_Related</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Booking__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>Related_Opportunity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunityWrapper.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>BookingRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpsertRecordWithOpportunity</nameSegment>
        <outputParameters>
            <assignToReference>BookingId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Booking_Related</name>
        <label>Create Booking Related</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <actionName>CreateBooking</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Unit_Bundle_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>BookingId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shorListUnits</name>
            <value>
                <elementReference>Get_Unit_bundle.Linked_Unit__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateBooking</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Opportunity_Value</name>
        <label>Get Opportunity Value</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <actionName>GetOpportunityValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AL_Get_Opportunity_By_Id</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Unit_Bundle__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorOnFaultPath</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Unit_bundle</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOpportunityValue</nameSegment>
        <outputParameters>
            <assignToReference>OpportunituyId</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Booking_Record</name>
        <label>Assign Booking Record</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>BookingRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityWrapper.ownerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingRecord.Related_Enquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityWrapper.enquiryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingRecord.Unit_Bundle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingRecord.Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityWrapper.accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingRecord.Booking_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingRecord.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Booking_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_For_Update</name>
        <label>Assign Opportunity For Update</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>OpportunityForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityWrapper.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityForUpdate.stageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_And_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Cheque_File_Uploaded</name>
        <label>Check Cheque File Uploaded</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocuentSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Content_Version</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHeck_Error</name>
        <label>CHeck Error</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Signed_agreementDoc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_error_occured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityWrapper</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Error</targetReference>
            </connector>
            <label>If error occured</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DocuentSize</name>
        <dataType>Number</dataType>
        <expression>LEN({!Upload_signed_agreement.contentDocIds})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SF Create Booking New Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Create Booking New Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Unit_bundle</name>
        <label>Get Unit bundle</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorOnFaultPath</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Version</name>
        <label>Update Content Version</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Booking_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Upload_signed_agreement.contentVersionIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Uploaded Signed Proposal Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SObjectType__c</field>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Bundle_Status</name>
        <label>Update Unit Bundle Status</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Assign_Opportunity_For_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit_bundle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Unit_Bundle__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please upload Proposal Signed Agreement.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorOnFaultPath</name>
        <label>ErrorOnFaultPath</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error!!! {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!ErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Signed_agreementDoc</name>
        <label>Signed_agreement</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Cheque_File_Uploaded</targetReference>
        </connector>
        <fields>
            <name>signed_agreement</name>
            <fieldText>Signed agreement</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Upload_signed_agreement</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Signed Agreement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OpportunityWrapper.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;p&gt;Success&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unit_bundle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Get_Opportunity_By_Id</name>
        <label>AL Get Opportunity By Id</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>CHeck_Error</targetReference>
        </connector>
        <flowName>AL_Get_Opportunity_By_Id</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>OpportunituyId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityWrapper</assignToReference>
            <name>OpportunityWrapper</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunituyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityForUpdate</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityWrapper</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
