force-app/main/default/flows/SF_Mark_Enquiry_As_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_And_Get_Opportunity</name>
        <label>Convert And Get Opportunity</label>
        <locationX>292</locationX>
        <locationY>2846</locationY>
        <actionName>ConvertAndGetOpportunityByFilters</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>get_Enquiry.Contact_Person__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stageList</name>
            <value>
                <elementReference>StageList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertAndGetOpportunityByFilters</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>noOfOpp</assignToReference>
            <name>noOfRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>OpportunityWrapperList</assignToReference>
            <name>opportunityWrap</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_And_Update_Opportunity</name>
        <label>Convert And Update Opportunity</label>
        <locationX>534</locationX>
        <locationY>3170</locationY>
        <actionName>ConvertAndUpsertOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AL_Share_Record_To_User_Flow</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityWrap</name>
            <value>
                <elementReference>OpportunityWrapper</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertAndUpsertOpportunity</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OppId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_UserIds</name>
        <label>Get UserIds</label>
        <locationX>292</locationX>
        <locationY>1706</locationY>
        <actionName>GetUsersPresent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>permissionName</name>
            <value>
                <stringValue>Is_RM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetUsersPresent</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Link_Interested_Location_With_Opportunity</name>
        <label>Link Interested Location With Opportunity</label>
        <locationX>754</locationX>
        <locationY>3494</locationY>
        <actionName>LinkInterestedLocationWithOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Custom_Notification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>enquiryId</name>
            <value>
                <elementReference>get_Enquiry.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LinkInterestedLocationWithOpportunity</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity</name>
        <label>Navigate to Opportunity</label>
        <locationX>666</locationX>
        <locationY>4358</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity1</name>
        <label>Navigate to Opportunity</label>
        <locationX>930</locationX>
        <locationY>4034</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>754</locationX>
        <locationY>3818</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>receiptents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_askProject</name>
        <label>Assign askProject</label>
        <locationX>380</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AskProject</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project_On_Basis_Of_Access</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_Duplicate_Value</name>
        <label>Assign Is Duplicate Value</label>
        <locationX>1166</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isDuplicate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Status</name>
        <label>Assign Opportunity Status</label>
        <locationX>160</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>OppStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opportunity_Stage_Site_Visit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Stage_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Status2</name>
        <label>Assign Opportunity Status Qualified</label>
        <locationX>424</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>OppStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opportunity_Stage_Qualified</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Stage_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Wrapper</name>
        <label>Assign Opportunity Wrapper</label>
        <locationX>534</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Contact_Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.budgetRange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Budget_Range__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.closeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.enquiryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.enquirySource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Enquiry_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.enquirySubSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Enquiry_Sub_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.natureOfPurchase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Nature_of_Purchase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_RM.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.sourceOfFinance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Source_of_finance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.stageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.typeOfUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Type_of_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapper.unitCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry.Unit_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_And_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project</name>
        <label>Assign Project</label>
        <locationX>160</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_MetaData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project1</name>
        <label>Assign Project</label>
        <locationX>424</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Enquiry_After_Update.Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_MetaData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipent</name>
        <label>Assign Receipent</label>
        <locationX>754</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>receiptents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_RM.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Values</name>
        <label>Assign Stage Values</label>
        <locationX>292</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>StageList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Site Visit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_And_Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Closed_Issue</name>
        <label>Check Closed Issue</label>
        <locationX>1298</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Closed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Enquiry_Closed_Lost_Reason_Duplicate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Duplicate_Value</targetReference>
            </connector>
            <label>If Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Enquiry_Status</name>
        <label>Check Enquiry Status</label>
        <locationX>292</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Status2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Site_Visit_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Visit Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Status</targetReference>
            </connector>
            <label>If Site Visit Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Error</name>
        <label>Check Error</label>
        <locationX>534</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Link_Interested_Location_With_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Occurred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMsg</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowError</targetReference>
            </connector>
            <label>If Occurred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Error1</name>
        <label>Check Error</label>
        <locationX>578</locationX>
        <locationY>4142</locationY>
        <defaultConnector>
            <targetReference>Create_Enquiry_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Occurred1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMsg</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowError</targetReference>
            </connector>
            <label>If Occurred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Project_Asked</name>
        <label>Check If Project Asked</label>
        <locationX>292</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Assign_Project1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_asked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AskProject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project</targetReference>
            </connector>
            <label>if asked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity</name>
        <label>Check Opportunity</label>
        <locationX>292</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Wrapper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noOfOpp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>If Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner</name>
        <label>Check Owner</label>
        <locationX>754</locationX>
        <locationY>3926</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Opportunity1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry_After_Update.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Select_RM.selectedChoiceValues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Opportunity_With_Enquiry_Owner</targetReference>
            </connector>
            <label>If not same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project</name>
        <label>Check Project</label>
        <locationX>292</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Assign_askProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mapped</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry_After_Update.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Project_Meta_Data.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UserIds</targetReference>
            </connector>
            <label>If Mapped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1642</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Closed_Information</targetReference>
            </connector>
            <label>if not closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enquiry_Type</name>
        <label>Enquiry Type</label>
        <locationX>875</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyer_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Enquiry_Buyer_Record_Type_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Project_Meta_Data</targetReference>
            </connector>
            <label>Buyer Enquiry</label>
        </rules>
        <rules>
            <name>Seller_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Enquiry_Seller_Record_Type_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_Unit_Management_Process</targetReference>
            </connector>
            <label>Seller Enquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Mark_as_Qualified</name>
        <label>If Mark as Qualified</label>
        <locationX>1298</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry_After_Update.Reason_for_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enquiry_Type</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProjectValue</name>
        <collectionReference>projectList</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Project__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForClosedValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Closed__c</picklistField>
        <picklistObject>Enquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforNoteQualificationValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Non_Qualifiation__c</picklistField>
        <picklistObject>Enquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserValues</name>
        <collectionReference>Get_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>errorSize</name>
        <dataType>Number</dataType>
        <expression>LEN({!ErrorMsg})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + VALUE({!get_MetaData.Value__c})</expression>
    </formulas>
    <formulas>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <expression>if({!get_Enquiry_After_Update.Project__c} != null,{!get_Enquiry_After_Update.Project__r.Name}, {!Project.selectedChoiceLabels})</expression>
    </formulas>
    <interviewLabel>SF Mark Enquiry As Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Mark Enquiry As Closed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enquiry_Share</name>
        <label>Create Enquiry Share</label>
        <locationX>666</locationX>
        <locationY>4250</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>get_Enquiry_After_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Select_RM.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>Enquiry__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Custom_Notification</name>
        <label>get Custom Notification</label>
        <locationX>754</locationX>
        <locationY>3602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Receipent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BuilderOpedia_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Enquiry</name>
        <label>get Enquiry</label>
        <locationX>1642</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Enquiry_After_Update</name>
        <label>get Enquiry After Update</label>
        <locationX>1298</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Mark_as_Qualified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Enquiry.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_MetaData</name>
        <label>get MetaData</label>
        <locationX>292</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Enquiry_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoOfDays_OppCloseDate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuildeOpedia_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Project_Meta_Data</name>
        <label>get Project Meta Data</label>
        <locationX>292</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProjectVisibilty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuildeOpedia_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>292</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_UserIds.userIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enquiry</name>
        <label>Update Enquiry</label>
        <locationX>1298</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>get_Enquiry_After_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Enquiry.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Closed__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Duplicate__c</field>
            <value>
                <elementReference>isDuplicate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closed__c</field>
            <value>
                <elementReference>Reason_for_Closed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Non_Qualifiation__c</field>
            <value>
                <elementReference>Reason_for_Non_Qualifiation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>1986</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!$Label.Enquiry_is_already_closed_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>3062</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Error_Message_Duplicate_Opportunity}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>292</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_Project_Asked</targetReference>
        </connector>
        <fields>
            <name>Project</name>
            <choiceReferences>ProjectValue</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Project</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Project...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AskProject</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Project_Meta_Data.Value__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_RM</name>
            <choiceReferences>UserValues</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select RM</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search User...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mark_as_Closed_Information</name>
        <label>Mark as Closed Information</label>
        <locationX>1298</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Closed_Issue</targetReference>
        </connector>
        <fields>
            <name>Reason_for_Closed</name>
            <choiceReferences>ReasonForClosedValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Closed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_Non_Qualifiation</name>
            <choiceReferences>ReasonforNoteQualificationValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Non Qualifiation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_for_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not Qualified</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment</name>
            <dataType>String</dataType>
            <fieldText>Comment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_for_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not Qualified</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowError</name>
        <label>ShowError</label>
        <locationX>534</locationX>
        <locationY>4826</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ErrorMsg}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1516</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Enquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Share_Record_To_User_Flow</name>
        <label>AL Share Record To User Flow</label>
        <locationX>534</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Check_Error</targetReference>
        </connector>
        <flowName>AL_Share_Record_To_User</flowName>
        <inputAssignments>
            <name>AccountShare</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Enquiry.Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>OpportunityWrapper.ownerId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMsgNew</assignToReference>
            <name>ErrorMsg</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountShareId</assignToReference>
            <name>sharingRecordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Project_On_Basis_Of_Access</name>
        <label>Get Project On Basis Of Access</label>
        <locationX>380</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_UserIds</targetReference>
        </connector>
        <flowName>AL_Get_Project_On_Basis_Of_Access</flowName>
        <outputAssignments>
            <assignToReference>projectList</assignToReference>
            <name>ProjectList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SF_Unit_Management_Process</name>
        <label>SF Unit Management Process</label>
        <locationX>1194</locationX>
        <locationY>1190</locationY>
        <flowName>SF_Unit_Management_Process</flowName>
        <inputAssignments>
            <name>PointOfContactId</name>
            <value>
                <elementReference>get_Enquiry.Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Share_Opportunity_With_Enquiry_Owner</name>
        <label>Share Opportunity With Enquiry Owner</label>
        <locationX>578</locationX>
        <locationY>4034</locationY>
        <connector>
            <targetReference>Check_Error1</targetReference>
        </connector>
        <flowName>AL_Share_Opportunity</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>get_Enquiry_After_Update.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorMsg</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
A new opportunity - {!get_Enquiry_After_Update.Name} is assigned to you.
Here are the details-:
Customer: {!get_Enquiry_After_Update.Contact_Person__r.FirstName} {!get_Enquiry_After_Update.Contact_Person__r.LastName}
Project: {!ProjectName}
Enquiry Source: {!get_Enquiry_After_Update.Enquiry_Source__c}
Enquiry Sub-Source: {!get_Enquiry_After_Update.Enquiry_Sub_Source__c}
Thanks</text>
    </textTemplates>
    <textTemplates>
        <name>Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunity Assigned - {!get_Enquiry_After_Update.Name}</text>
    </textTemplates>
    <variables>
        <name>accountShareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AskProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>errorMsgNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDuplicate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>noOfOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityWrapper</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityWrapperList</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>receiptents</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteVisitShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__Share</objectType>
    </variables>
    <variables>
        <name>SiteVisitShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__Share</objectType>
    </variables>
    <variables>
        <name>StageList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
