force-app/main/default/flows/SF_Mark_Site_Visit_Deferred.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ExtractShortlistId</name>
        <label>ExtractShortlistId</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>extractShortlistedUnitIdFromUnitOption</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Shortlist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>varJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>extractShortlistedUnitIdFromUnitOption</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varExtracted</assignToReference>
            <name>firstId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Formatted_Visit_Date</name>
        <label>Get Formatted Visit Date</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <actionName>ConvertDateTimeToFormat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Site_Visit_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>dd-MM-yyyy HH:mm:ss</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>Visit_Date_Time</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertDateTimeToFormat</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>formattedDateTime</assignToReference>
            <name>formatedDateTime</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Mark_as_Cancelled</name>
        <label>Mark as Cancelled</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <actionName>SendEmailtoCancelled</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailList</name>
            <value>
                <elementReference>Emaillandlord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailtoCancelled</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_for_Reschedule</name>
        <label>Send Email for Reschedule</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <actionName>SendEmailtoCancelled</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailList</name>
            <value>
                <elementReference>Emaillandlord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CreatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Copy_2_of_Get_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailtoCancelled</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Upsert_Site_Visit</name>
        <label>Upsert Site Visit</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <actionName>UpsertSiteVisit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>Site_Visit__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>siteVisit</name>
            <value>
                <elementReference>SiteVisit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitRecord</name>
            <value>
                <elementReference>get_Site_Visit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpsertSiteVisit</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CreatedRecord</assignToReference>
            <name>outputMember</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_2</name>
        <label>Assign Email 2</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>Emaillandlord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_unit.Point_of_Contact__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_for_Reschedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Site_Visit_Record</name>
        <label>Assign Site Visit Record</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>SiteVisit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SiteVisitName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Site_Visit.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Create_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Created_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Enquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Site_Visit.Enquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Site_Visit.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Visit_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.No_of_People_Planned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_People_Planned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Unit_Bundle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedUnitBundleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Site_Visit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assign Unit Id</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_BundleId.Linked_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExtractShortlistId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Emaillandlord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_unit.Point_of_Contact__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_as_Cancelled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Deferred_Reason</name>
        <label>Check Deferred Reason</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeferredReason.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Details</targetReference>
            </connector>
            <label>if Reschedule</label>
        </rules>
        <rules>
            <name>if_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeferredReason.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>status_Update</targetReference>
            </connector>
            <label>if Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Site_Visit.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen</targetReference>
            </connector>
            <label>if Scheduled</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DeferredReasonValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deferred_Reason__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>unitBundleChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Site_Visit.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Unit_Bundle__c</object>
        <outputAssignments>
            <assignToReference>selectedUnitBundleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SiteVisitName</name>
        <dataType>String</dataType>
        <expression>{!get_Site_Visit.Enquiry__r.Name} + &apos;-&apos; + &apos;-&apos; + {!formattedDateTime}</expression>
    </formulas>
    <formulas>
        <name>User18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>SF Mark Site Visit Deferred {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Mark Site Visit Deferred</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_2_of_Get_Template</name>
        <label>Copy 2 of Get Template</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Deferred_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site_Visit_Rescheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Shortlist</name>
        <label>get Shortlist</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExtracted</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shortlisted_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Site_Visit</name>
        <label>get Site Visit</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template</name>
        <label>Get Template</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site_Visit_Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_unit</name>
        <label>Get unit</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Shortlist.Unit__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Unit_BundleId</name>
        <label>Unit BundleId</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Site_Visit.Unit_Bundle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>status_Update</name>
        <label>status Update</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deferred_Reason__c</field>
            <value>
                <elementReference>DeferredReason.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reschedule_Cancellation_Reason__c</field>
            <value>
                <elementReference>DeferredReason.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Site_Visit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Status</name>
        <label>update Status</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_Formatted_Visit_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deferred_Reason__c</field>
            <value>
                <elementReference>DeferredReason.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reschedule_Cancellation_Reason__c</field>
            <value>
                <elementReference>DeferredReason.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rescheduled_Date__c</field>
            <value>
                <elementReference>Visit_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Site_Visit__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Site_Visit_Status_Error_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Details</name>
        <label>Input Details</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Status</targetReference>
        </connector>
        <fields>
            <name>Visit_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Visit Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_of_People_Planned</name>
            <dataType>Number</dataType>
            <fieldText>No. of People (Planned)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unit_Bundle</name>
            <choiceReferences>unitBundleChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Site_Visit.Unit_Bundle__c</elementReference>
            </defaultValue>
            <fieldText>Unit Bundle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Unit_BundleId</targetReference>
        </connector>
        <fields>
            <name>DeferredReason</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Site_Visit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Deferred_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Reschedule_Cancellation_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Deferred Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reschedule/Cancellation Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.LWC_Record_Save_Success_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Site_Visit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
    <variables>
        <name>Emaillandlord</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rescheduleddate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedUnitBundleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
    <variables>
        <name>varExtracted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
