force-app/main/default/flows/SF_Mark_Site_Visit_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_And_Update_Opportunity</name>
        <label>Convert And Update Opportunity&quot;</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <actionName>ConvertAndUpsertOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Fault_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityWrap</name>
            <value>
                <elementReference>OpportunityValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertAndUpsertOpportunity</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OppId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Opportunity_Value</name>
        <label>Get Opportunity Value</label>
        <locationX>1309</locationX>
        <locationY>458</locationY>
        <actionName>GetOpportunityValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Site_Visit__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Fault_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>get_Site_Visit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOpportunityValue</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OpportunityId</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoLandLordAttachPdf</name>
        <label>SendEmailtoLandLordAttachPdf</label>
        <locationX>809</locationX>
        <locationY>2462</locationY>
        <actionName>SendEmailtoLandLordAttachPDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>SiteIds</name>
            <value>
                <elementReference>get_Site_Visit.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UnitBundleId</name>
            <value>
                <elementReference>get_Site_Visit.Unit_Bundle__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailtoLandLordAttachPDF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Site_Visit_FeedBack_Form</name>
        <label>Site Visit FeedBack Form</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <actionName>GenerateSiteVisitInspectionpdf</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Opportunity_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OpportunityID</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateSiteVisitInspectionpdf</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>809</locationX>
        <locationY>2570</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Label.LWC_Record_Save_Success_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opportunity_Update</name>
        <label>Assign Opportunity Update</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>OpportunityValue.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityWrapper.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValue.stageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site Visit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValue.lastActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_And_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Update1</name>
        <label>Assign Opportunity Update</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>OpportunityValue.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityWrapper.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValue.lastActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_And_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UnitId</name>
        <label>Assign UnitId</label>
        <locationX>897</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>unitId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_UnitId.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_UnitId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SiteId_assignment</name>
        <label>SiteId assignment</label>
        <locationX>1309</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Site_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Site_Visit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_error</name>
        <label>Check error</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>CaptureImageSiteVisit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Occurred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityWrapper</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowError</targetReference>
            </connector>
            <label>If Occurred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Opportunity_Tagged</name>
        <label>Check If Opportunity Tagged</label>
        <locationX>809</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Opportunity_Object_Api_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Status</name>
        <label>Check Opportunity Status</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Update1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Site_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityWrapper.stageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Update</targetReference>
            </connector>
            <label>If Site Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1309</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Site_Visit.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Opportunity_Tagged</targetReference>
            </connector>
            <label>if Scheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>latitudeInNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!latitude})</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>longitudeInNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!longitude})</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>User18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>SF Mark Site Visit Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Mark Site Visit Complete</label>
    <loops>
        <name>loop_UnitId</name>
        <label>loop UnitId</label>
        <locationX>809</locationX>
        <locationY>2162</locationY>
        <collectionReference>Get_Shortlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_UnitId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendEmailtoLandLordAttachPdf</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Opportunity_Object_Api_Name</name>
        <label>get Opportunity Object Api Name</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_By_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OpportunityObjectApiName</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuildeOpedia_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shortlist</name>
        <label>Get Shortlist</label>
        <locationX>809</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_UnitId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Site_Visit.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shortlisted_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Site_Visit</name>
        <label>get Site Visit</label>
        <locationX>1309</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Image</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>809</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_Shortlist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Site_Visit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Completed_Location__Latitude__s</field>
            <value>
                <elementReference>latitudeInNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Completed_Location__Longitude__s</field>
            <value>
                <elementReference>longitudeInNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Site_Visit__c</object>
    </recordUpdates>
    <screens>
        <name>Capture_Image</name>
        <label>Capture Image</label>
        <locationX>1309</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SiteId_assignment</targetReference>
        </connector>
        <fields>
            <name>GpsCamera</name>
            <extensionName>c:gpscameraforSitevisit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>latitude</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>longitude</assignToReference>
                <name>longitude</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaptureImageSiteVisit</name>
        <label>CaptureImageSiteVisit</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Site_Visit_FeedBack_Form</targetReference>
        </connector>
        <fields>
            <name>CaptureImage</name>
            <extensionName>c:captureImagesSiteVisit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Site_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Site_Visit_Status_Error_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Fault_Error</name>
        <label>Show Fault Error</label>
        <locationX>1546</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowError</name>
        <label>ShowError</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1183</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Site_Visit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Opportunity_By_Id</name>
        <label>Get Opportunity By Id</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Check_error</targetReference>
        </connector>
        <flowName>AL_Get_Opportunity_By_Id</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityWrapper</assignToReference>
            <name>OpportunityWrapper</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow Up - {!OpportunityWrapper.name} at {!FormattedDateFolowUp}</text>
    </textTemplates>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedDateFolowUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityValue</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityWrapper</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Site_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SiteVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
    <variables>
        <name>unitId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>OpportunityId</elementReference>
        </value>
    </variables>
</Flow>
