force-app/main/default/flows/SF_New_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Check_Duplicate</name>
        <label>Check Duplicate</label>
        <locationX>732</locationX>
        <locationY>1646</locationY>
        <actionName>CheckDuplicate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_duplicate</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Enquiry__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>enquiry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckDuplicate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Record</name>
        <label>Navigate To Record</label>
        <locationX>930</locationX>
        <locationY>3242</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>930</locationX>
        <locationY>2618</locationY>
        <actionName>SendEmailAndNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Enquiry_Information</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailList</name>
            <value>
                <elementReference>AccountEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>SendEmailAndNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_WhatsApp_Message_Action_1</name>
        <label>Send WhatsApp Message Action 1</label>
        <locationX>930</locationX>
        <locationY>1970</locationY>
        <actionName>WhatsAppService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_data</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>enquiry.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_account_Email</name>
        <label>Assign account Email</label>
        <locationX>930</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>AccountEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Enquiry_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId</name>
        <label>Assign AccountId</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AreaCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.Area_Code_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Account_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId1</name>
        <label>Assign AccountId</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Customer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNumberEntered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AreaCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Customer.Area_Code_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Customer.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Customer.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Customer.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_Account_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId2</name>
        <label>Assign AccountId</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountDetails.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNumberEntered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AreaCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account_Created.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account_Created.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account_Created.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enquiry</name>
        <label>Assign Enquiry</label>
        <locationX>732</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>enquiry.Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiry.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiry.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiry.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiry.Area_Code_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Duplicate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Share</name>
        <label>Check Account Share</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Show_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Share</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Share</targetReference>
            </connector>
            <label>if Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer</name>
        <label>Check Customer</label>
        <locationX>1150</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>get_Person_Account_RecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId1</targetReference>
            </connector>
            <label>If Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_duplicate</name>
        <label>Check if duplicate</label>
        <locationX>732</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Create_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Duplicate.duplicateRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Error</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Interested_Location</name>
        <label>Check Interested Location</label>
        <locationX>930</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Interested_Location_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countryCodeValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Interested_Location_Record</targetReference>
            </connector>
            <label>If Interested Location Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordId</name>
        <label>Check RecordId</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Enter_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId</targetReference>
            </connector>
            <label>if not null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BudgetRange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Budget_Range__c</picklistField>
        <picklistObject>Enquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Area_Code_Phone__c</picklistField>
        <picklistObject>Enquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnquiryRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enquiry__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EnquiryRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>addressFormula</name>
        <dataType>String</dataType>
        <expression>{!Street} + &apos; &apos;+ {!City} +&apos;&apos;+{!State} +&apos;&apos;+{!Country}</expression>
    </formulas>
    <formulas>
        <name>EnquiryName</name>
        <dataType>String</dataType>
        <expression>IF({!Salutation} == null, IF({!FirstName}== null, {!LastName}, {!FirstName} + &apos; &apos; + {!LastName}) ,  IF({!FirstName} == null, {!Salutation} + &apos; &apos; + {!LastName}, {!Salutation} + &apos; &apos; + {!FirstName} + &apos; &apos; + {!LastName}))</expression>
    </formulas>
    <formulas>
        <name>LatitudeInNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Latitude})</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>LongitudeInNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Longitude})</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>PhoneNumberEntered</name>
        <dataType>String</dataType>
        <expression>{!Country_Code} + {!Phone.value}</expression>
    </formulas>
    <interviewLabel>SF New Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF New Enquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Share</name>
        <label>Create Account Share</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Show_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Enquiry</name>
        <label>Create Enquiry</label>
        <locationX>930</locationX>
        <locationY>1862</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Send_WhatsApp_Message_Action_1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Area_Code_Phone__c</field>
            <value>
                <elementReference>AreaCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Detail_Id__c</field>
            <value>
                <elementReference>CallDetailId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>enquiry.Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_From__c</field>
            <value>
                <stringValue>Ui</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>enquiry.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>enquiry.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EnquiryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>enquiry.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EnquiryRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Interested_Location_Record</name>
        <label>Create Interested Location Record</label>
        <locationX>798</locationX>
        <locationY>3050</locationY>
        <connector>
            <targetReference>Navigate_To_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__City__s</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__CountryCode__s</field>
            <value>
                <elementReference>countryCodeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Latitude__s</field>
            <value>
                <elementReference>LatitudeInNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Longitude__s</field>
            <value>
                <elementReference>LongitudeInNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__PostalCode__s</field>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__StateCode__s</field>
            <value>
                <elementReference>stateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Street__s</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Enquiry__c</field>
            <value>
                <elementReference>enquiry.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Interested_Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Account_Created</name>
        <label>get Account Created</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AccountId2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountDetails.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_data</name>
        <label>Get Account</label>
        <locationX>930</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_account_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>enquiry.Contact_Person__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Account_Share</name>
        <label>get Account Share</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Share</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Customer</name>
        <label>get Customer</label>
        <locationX>1150</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Customer</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumberEntered</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Email_Template</name>
        <label>get Email Template</label>
        <locationX>930</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Welcome_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry_record</name>
        <label>Get Enquiry record</label>
        <locationX>930</locationX>
        <locationY>2294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_For_Project_Visibility</name>
        <label>Get Metadata For Project Visibility</label>
        <locationX>314</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ask_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProjectVisibilty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuildeOpedia_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Person_Account_RecordTypeId</name>
        <label>get Person Account RecordTypeId</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Account_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Ask_Project</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Area_Code_Phone__c</field>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>PhoneNumberEntered</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enquiry_Status</name>
        <label>Update Enquiry Status</label>
        <locationX>930</locationX>
        <locationY>2834</locationY>
        <connector>
            <targetReference>Check_Interested_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__City__s</field>
            <value>
                <elementReference>Get_Enquiry_record.Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__PostalCode__s</field>
            <value>
                <elementReference>Get_Enquiry_record.Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__StateCode__s</field>
            <value>
                <elementReference>Get_Enquiry_record.Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Street__s</field>
            <value>
                <elementReference>Get_Enquiry_record.Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Range1__c</field>
            <value>
                <elementReference>Get_Enquiry_record.Budget_Range1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry_Source__c</field>
            <value>
                <elementReference>Get_Enquiry_record.Enquiry_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry_Sub_Source__c</field>
            <value>
                <elementReference>Get_Enquiry_record.Enquiry_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature_of_Purchase__c</field>
            <value>
                <elementReference>Get_Enquiry_record.Nature_of_Purchase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size_in_sqfts__c</field>
            <value>
                <elementReference>Get_Enquiry_record.Size_in_sqfts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Unit__c</field>
            <value>
                <elementReference>Get_Enquiry_record.Type_of_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_3</name>
        <label>Update Records 3</label>
        <locationX>930</locationX>
        <locationY>2402</locationY>
        <connector>
            <targetReference>get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account_Created.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Enquiry_record.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Ask_Project</name>
        <label>Ask Project</label>
        <locationX>732</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Enquiry</targetReference>
        </connector>
        <fields>
            <name>Project</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Enquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Metadata_For_Project_Visibility.Value__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Intent_Type</name>
            <choiceReferences>EnquiryRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Intent Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enquiry_Information</name>
        <label>Enquiry Information</label>
        <locationX>930</locationX>
        <locationY>2726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Enquiry_Status</targetReference>
        </connector>
        <fields>
            <name>Enquiry_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enquiry_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Enquiry_record.Budget_Range1__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enquiry_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Enquiry_record.Nature_of_Purchase__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Intent_Type</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Landlord</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enquiry_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enquiry_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Enquiry_record.Type_of_Unit__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enquiry_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Enquiry_record.Size_in_sqfts__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enquiry_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enquiry_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Enquiry_record.Enquiry_Source__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enquiry_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Enquiry_record.Enquiry_Sub_Source__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Enquiry_record.Address__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Account_Details</name>
        <label>Enter Account Details</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Account_Created</targetReference>
        </connector>
        <fields>
            <name>AccountDetails</name>
            <extensionName>c:recordFormByFieldSet</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldSet</name>
                <value>
                    <stringValue>CreateNewEnquiryDetails</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutSection</name>
                <value>
                    <stringValue>One Column</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Customer Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>get_Person_Account_RecordTypeId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>Single</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Footer</name>
            <extensionName>c:recordEditFormFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Contact_Details</name>
        <label>Enter Contact Details</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Customer</targetReference>
        </connector>
        <fields>
            <name>DispayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Enter Contact Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enter_Contact_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Contact_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Code</name>
                    <choiceReferences>CountryCode</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CountryCodeInput</elementReference>
                    </defaultValue>
                    <fieldText>Country Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Contact_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Enter Mobile Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a 10-digit phone number using numbers only—without any spaces, letters, or special characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( LEN({!Phone.value}) = 10, ISNUMBER({!Phone.value}) )</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1238</locationX>
        <locationY>2942</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultPathMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Account</name>
        <label>Show Account</label>
        <locationX>314</locationX>
        <locationY>914</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Metadata_For_Project_Visibility</targetReference>
        </connector>
        <fields>
            <name>ShowCustomerDetails</name>
            <extensionName>c:recordFormByFieldSet</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldSet</name>
                <value>
                    <stringValue>NewEnquiryCreation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutSection</name>
                <value>
                    <stringValue>One Column</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Customer Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>Single</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>534</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.Enquiry_Duplicate_Error_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AreaCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountryCodeInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>+91</stringValue>
        </value>
    </variables>
    <variables>
        <name>countryCodeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enquiry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enquiry__c</objectType>
    </variables>
    <variables>
        <name>EnquiryRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumberInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
