force-app/main/default/flows/SF_Schedule_Single_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Consolidated_Mail_Action</name>
        <label>Consolidated Mail Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendHTMLEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Site Visit – Resource Allocator Details</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>Get_Enquiry.Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendHTMLEmailAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Email_Body</name>
        <label>Build Email Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr style=&quot;border-bottom:1px solid #cccccc;&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td style=&quot;padding:10px;&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Site_Visits.Resource_Allocator__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td style=&quot;padding:10px;&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Site_Visits.Resource_Allocator__r.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td style=&quot;padding:10px;&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Site_Visits.Visit_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td style=&quot;padding:10px;&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Site_Visits.Unit_Bundle__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Site_Visits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Email_Intro</name>
        <label>Build Email Intro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;html&gt;&lt;body style=&quot;font-family:Arial,sans-serif;font-size:14px;color:#333;&quot;&gt;&lt;p&gt;Dear      </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,&lt;/p&gt;&lt;p&gt;Your site visits have been successfully scheduled. Please find the Resource Allocator details below:&lt;/p&gt;&lt;table border=&quot;1&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse:collapse;width:65%;border-color:#cccccc;&quot;&gt;&lt;thead&gt;&lt;tr style=&quot;background-color:#003366;color:#ffffff;&quot;&gt;&lt;th style=&quot;text-align:left;padding:10px;&quot;&gt;Resource Allocator Name&lt;/th&gt;&lt;th style=&quot;text-align:left;padding:10px;&quot;&gt;Mobile Number&lt;/th&gt;&lt;th style=&quot;text-align:left;padding:10px;&quot;&gt;Site Visit Date &amp; Time&lt;/th&gt;&lt;th style=&quot;text-align:left;padding:10px;&quot;&gt;Option Details&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Site_Visits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Email_Body</name>
        <label>Close Email Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tbody&gt;&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;&lt;p&gt;If you have any questions, feel free to contact us.&lt;/p&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;p&gt;Thanks &amp;amp; Regards,&lt;br/&gt;&lt;strong&gt;AWH Team&lt;/strong&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Enquiry</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Records</name>
        <label>Check Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Null_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_sitevisit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Scheduled_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Email_Intro</targetReference>
            </connector>
            <label>Check sitevisit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SingleRecordText</name>
        <dataType>String</dataType>
        <expression>&quot;Resource Allocator Name: &quot; &amp;
{!Loop_Site_Visits.Resource_Allocator__r.FirstName} &amp; &quot; &quot; &amp;
{!Loop_Site_Visits.Resource_Allocator__r.LastName} &amp;
&quot;Mobile: &quot; &amp;
{!Loop_Site_Visits.Resource_Allocator__r.MobilePhone}</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TomorrowDate</name>
        <dataType>Date</dataType>
        <expression>$Flow.CurrentDate + 1</expression>
    </formulas>
    <interviewLabel>SF Schedule Single Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Schedule Single Email</label>
    <loops>
        <name>Loop_Site_Visits</name>
        <label>Loop Site Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Scheduled_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Email_Body</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Email_Body</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Enquiry</name>
        <label>Get Enquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consolidated_Mail_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Enquiry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scheduled_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Records</name>
        <label>Get Scheduled Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Enquiry__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TomorrowDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Null_Screen</name>
        <label>Null Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;❌ No site visits are scheduled for this enquiry today.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Sucess_Message</name>
            <fieldText>&lt;p&gt;✅ Site visit email has been sent successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SingleRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Resource Allocator Name: {!Loop_Site_Visits.Resource_Allocator__r.FirstName} {!Loop_Site_Visits.Resource_Allocator__r.LastName}    
Mobile: {!Loop_Site_Visits.Resource_Allocator__r.MobilePhone}  
Site Visit Date / Time : {!Loop_Site_Visits.Visit_Date_Time__c} 
Unit Option : {!Loop_Site_Visits.Unit_Bundle_Name__c}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
