force-app/main/default/flows/SF_Site_Visit_Schedule_On_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Date_Time_To_Format</name>
        <label>Convert Date-Time To Format</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <actionName>ConvertDateTimeToFormat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Site_Visit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>dd-MM-yyyy HH:mm:ss</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>Visit_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertDateTimeToFormat</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>FormattedDateSiteVisit</assignToReference>
            <name>formatedDateTime</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <actionName>GetObjectName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Profile</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectName</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>objectApiName</assignToReference>
            <name>objectName</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RefreshComponent</name>
        <label>RefreshComponent</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <actionName>c:RefreshPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>objectUrl</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RefreshPage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RefreshComponent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Label.Success_Message_For_Update_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <actionName>ConvertAndUpsertOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityWrap</name>
            <value>
                <elementReference>OpportunityWrapperUpdate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertAndUpsertOpportunity</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Upsert_Site_Visit</name>
        <label>Upsert Site Visit</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <actionName>UpsertSiteVisit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>Site_Visit__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisit</name>
            <value>
                <elementReference>SiteVisit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpsertSiteVisit</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opportunity_Value_to_update_Stage</name>
        <label>Assign Opportunity Value to update Stage</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>OpportunityWrapperUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityWrapper.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityWrapperUpdate.stageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Opportunity_Stage_Site_Visit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Site_Visit</name>
        <label>Assign Site Visit</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SiteVisit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SiteVisitName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Customer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Create_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Created_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Enquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityWrapper.enquiryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Visit_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.No_of_People_Planned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_People_Planned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Unit_Bundle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedUnitBundleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteVisit.Resource_Allocator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResourceAllocator.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Site_Visit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Error</name>
        <label>Check Error</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Object_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Occured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityWrapper</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Error</targetReference>
            </connector>
            <label>Yes Occured</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityWrapper.stageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inventory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Value_to_update_Stage</targetReference>
            </connector>
            <label>If Qualified</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>unitBundleChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Unit_Bundle__c</object>
        <outputAssignments>
            <assignToReference>selectedUnitBundleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>userChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Admin_Profile.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>selectedUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>objectUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;,{!$Api.Enterprise_Server_URL_510})) &amp; {!recordId}</expression>
    </formulas>
    <formulas>
        <name>SiteVisitName</name>
        <dataType>String</dataType>
        <expression>{!OpportunityWrapper.Name} + &apos;-&apos;  + {!FormattedDateSiteVisit}</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&apos;Follow Up - &apos; + {!OpportunityWrapper.Name} + &apos; at &apos; + {!FormattedDateFollowUp}</expression>
    </formulas>
    <formulas>
        <name>SubjectCustoerConnect</name>
        <dataType>String</dataType>
        <expression>&apos;Connected with &apos; + {!OpportunityWrapper.Name} + &apos; at &apos; + {!CustomerConnectedDate}</expression>
    </formulas>
    <interviewLabel>SF Site Visit Schedule On Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Site Visit Schedule On Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Admin_Profile</name>
        <label>Get Admin Profile</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Site_Visit_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Customer</name>
        <label>get Customer</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityWrapper.accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platform Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Input_Site_Visit_Detail</name>
        <label>Input Site Visit Detail</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Convert_Date_Time_To_Format</targetReference>
        </connector>
        <fields>
            <name>Visit_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Visit Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Oops! Site Visit Date must be today or a future date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Visit_Date} &gt;= Now()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>No_of_People_Planned</name>
            <dataType>Number</dataType>
            <fieldText>No. of People (Planned)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a number between 1 and 9999.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    {!No_of_People_Planned} &gt; 0,
    {!No_of_People_Planned} &lt;= 9999
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Unit_Bundle</name>
            <choiceReferences>unitBundleChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unit Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ResourceAllocator</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Site_Visit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Resource Allocator</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Resource_Allocator__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowErrorMSg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AL_Get_Opportunity_By_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Get_Opportunity_By_Id</name>
        <label>AL Get Opportunity By Id</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>get_Customer</targetReference>
        </connector>
        <flowName>AL_Get_Opportunity_By_Id</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityWrapper</assignToReference>
            <name>OpportunityWrapper</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CustomerConnectedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FormattedDateFollowUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FormattedDateSiteVisit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityWrapper</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityWrapperUpdate</name>
        <apexClass>OpportunityWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedUnitBundleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
</Flow>
