force-app/main/default/flows/SF_Send_Proposal_to_Customer_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_to_customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>risawh077@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Email integration purpose</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Checking the EAC working or not&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>3.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_customer</name>
        <label>Send Email to customer</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>SendEmailAndNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sucess_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ContactList</name>
            <value>
                <elementReference>contactList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentVersionList</name>
            <value>
                <elementReference>contentVersionList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailList</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>SendEmailAndNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Enquiry</name>
        <label>Send Email to Enquiry</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <actionName>SendEmailAndNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sucess_Screen_For_Enquiry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_for_Enquiry</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>Account_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentVersionList</name>
            <value>
                <elementReference>contentVersionList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>get_Email_Template_For_Enquiry.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enquiryEmail</name>
            <value>
                <elementReference>Enquiry_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>SendEmailAndNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Content_Version</name>
        <label>Assign Content Version</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Latest_Proposal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Version_for_Enquiry</name>
        <label>Assign Content Version for Enquiry</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Latest_Proposal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Email_Template_For_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enquiry_Email</name>
        <label>Assign Enquiry Email</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Enquiry_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity_Record.Enquiry__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity_Record.Account_Name__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_Version_for_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>UserEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Opportunity_Record.Account_Name__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Email_Template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Email_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_Record.Account_Name__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>If Email Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Proposal</name>
        <label>Check Proposal</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Proposal_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Latest_Proposal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Opportunity_Record</targetReference>
            </connector>
            <label>If Proposal Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Enquiry_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_Record.Enquiry__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Tenant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SF Send Proposal to Customer on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Send Proposal to Customer on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Opportunity_Record.Account_Name__r.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Email_Template</name>
        <label>get Email Template</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send_Proposal_to_customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Email_Template_For_Enquiry</name>
        <label>get Email Template For Enquiry</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send_Proposal_to_customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Latest_Proposal</name>
        <label>get Latest Proposal</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Proposal</targetReference>
        </connector>
        <filterLogic>(1  AND (7 AND 8)) OR  (2  AND (7 AND 8)) OR  (3  AND (7 AND 8)) OR  (4  AND (7 AND 8)) OR  (5  AND (7 AND 8))  OR   (6  AND (7 AND 8))</filterLogic>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executive(BTS) Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenant(BTS) Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenant(Land) Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executive(Land) Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenant(Shed) Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executive(Shed) Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SObjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>FirstPublishLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Opportunity_Record</name>
        <label>get Opportunity Record</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Email is missing!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_1</name>
        <label>Error Screen</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Error_Message_Proposal_Not_Generated}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_2</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_for_Enquiry</name>
        <label>Error Screen for Enquiry</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess_Screen</name>
        <label>Sucess Screen</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 66, 4);&quot;&gt;Proposal sent to Customer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucess_Screen_For_Enquiry</name>
        <label>Sucess Screen For Enquiry</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 66, 4);&quot;&gt;Proposal sent to Customer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Latest_Proposal</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Account_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contentVersionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>Enquiry_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
