force-app/main/default/flows/SF_Site_Visit_Consolidated_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Site_Visit_Email</name>
        <label>Send Site Visit Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Mark_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Site Visit Schedule Details</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Dear {!$Record.Enquiry__r.Name},

Your site visits have been successfully scheduled. Please find the Resource Allocator details below:

{!varEmailBody}

If you have any questions or need assistance, feel free to contact us.

Thanks &amp; Regards,  
AWH Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_Email_Body</name>
        <label>Append Email Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResourceLineTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Site_Visits</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Email_Already_Sent</name>
        <label>Check Email Already Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Site_Visits</targetReference>
            </connector>
            <label>Already Sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmResourceDetails</name>
        <dataType>String</dataType>
        <expression>&quot;Resource Allocator Name : &quot; &amp;
{!$Record.Resource_Allocator__r.FirstName} &amp; {!$Record.Resource_Allocator__r.LastName}  &amp;
&quot;Mobile:&quot; &amp;
{!Loop_Site_Visits.Resource_Allocator__r.MobilePhone}</expression>
    </formulas>
    <interviewLabel>SF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Site Visit Consolidated Email Flow</label>
    <loops>
        <name>Loop_Site_Visits</name>
        <label>Loop Site Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Site_Visits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Email_Body</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Site_Visit_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Site_Visits</name>
        <label>Get Site Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Already_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enquiry__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Visit_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Visit_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Email_Sent</name>
        <label>Mark Email Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Site_Visit__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Site_Visit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Send_Consolidated_Email</name>
            <connector>
                <targetReference>Get_Site_Visits</targetReference>
            </connector>
            <label>Send Consolidated Email</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>ResourceLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Resource Allocator:{!Loop_Site_Visits.Resource_Allocator__r.FirstName} {!Loop_Site_Visits.Resource_Allocator__r.LastName} 
Mobile :{!$Record.Resource_Allocator__r.MobilePhone}</text>
    </textTemplates>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
