force-app/main/default/flows/Update_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Tasks.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Tasks.Due_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Tasks</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>todayStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 00:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>tomorrowStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()+1) &amp; &quot; 00:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>Update Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Task</label>
    <loops>
        <name>Loop_Through_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Today_Due_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Today_Due_Tasks</name>
        <label>Get Today Due Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Due_Date_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>todayStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Due_Date_Time__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>tomorrowStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>todayStart</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_to_Updated_Tasks</name>
        <label>Add to Updated Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
        <inputReference>updatedTasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Today_Due_Tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>updatedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
